<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Seblak Lada - restaurant catalog application." />
  <script src="https://kit.fontawesome.com/127bf5b263.js" crossorigin="anonymous"></script>
  <title>Katalog Restoran</title>
  <link rel="preconnect" href="https://restaurant-api.dicoding.dev">
</head>

<body>
  <a href="#/main-content" class="skip-link">Menuju ke konten</a>
  <app-bar></app-bar>
  <main id="content"></main>
  <!-- Footer -->
  <footer>
    <div class="cont"></div>
    <div class="top-footer">
      <ul>
              <li>
                <a href="https://www.facebook.com/gam.rwak">
                  <i class="fab fa-facebook"></i>
              </a>
              </li>
              <li>
                <a href="https://www.instagram.com/agamsantika">
                  <i class="fab fa-instagram-square"></i>
              </a>
              </li>
              <li>
                <a href="https://www.github.com/agamsantika91">
                  <i class="fab fa-github"></i>
              </a>
              
              </li>
            </ul>   
    </div> 
    <div class="bottom-footer">
    <span>
      Copyright © 2021 - SEBLAK LADA
    </span>
    <span>
      <a href="https://restaurant-api.dicoding.dev/" target="_blank"
      rel="noreferrer" class="seblak">Restaurant-API-Dicoding</a>
    </span>
    </div>
    </div>    
    </footer>
<!--Footer -->
</body>
</html>